<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example page</title>
</head>
<body>
    <form action="result" method="POST">
    <center><h1>This is Example Page</h1>
    <label for="name">Enter your Name:</label> 
    <input type="text" name="Name" id="name"> <br> <br>
   <button type="submit" name="submit" value="submit">Submit</button> <br> <br>
   </form>
   <form action="getresult" method="GET">
       <output name="names"></output>
        <button type="submit" name="getresultbutton">Get Result</button>
<output name="N"></output>
   </form>
</center>
</body>
</html>